table {
  position: relative;
}

td.selected {
  background-color: #d9f6fe;
}

th.selected {
  background-color: #ffb93e;
}

td.protected, th.protected {
  background-color: #eee;
}

th.alert-danger input, td.alert-danger input {
  background-color: #f2dede;
  border-color: #ebccd1;
}
